.advantage-card {
  margin-bottom: 60px;
  padding: 0 30px 0 30px;
  width: 250px;
  text-align: center;

    &__img {
      margin-bottom: 40px;
    }

  @media (min-width: $screen-md) {
    padding: 0 0 0 10px;
    margin-right: 110px;
  }

  @media (min-width: $screen-lg) {
    margin-right: 53px;

      &:last-child {
      margin-right: 0;
    }
  }
}
