.banner {
  padding: 70px 25px 100px 25px;
  background-image: linear-gradient(rgba(181, 77, 134, 0.8), rgba(181, 77, 134, 0.8)), url('../../img/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $third-color;

  @media (min-width: $screen-md) {
    padding: 70px 80px 108px 80px;
  }

  p {
    color: #fff;
    text-align: center;
    line-height: 30px;

    &:first-child {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 24px;

      @media (min-width: $screen-md) {
        line-height: 40px;
        font-size: 36px;
      }

      &:before {
        display: block;
        content: '';
        margin: 0 auto;
        margin-bottom: 30px;
        width: 100px;
        height: 15px;
        background-image: url('../../img/shape.svg');
        background-repeat: no-repeat;
      }
    }
  }
}
