.books {

  &__container {
    margin: 0 auto;
    width: 100%;
    padding: 30px 30px 0 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
    grid-template-areas: 'books__header'
                         'books__img'
                         'books__info'
                         'books__descr';

    @media (min-width: $screen-md) {
      padding: 40px 0 0;
      width: 760px;
      grid-template-columns: 260px 540px;
      grid-column-gap: 40px;
      grid-row-gap: 0;
      grid-template-areas: 'books__img     books__header'
                           'books__img     books__info'
                           'books__pages   books__info'
                           '.              books__info'
                           'books__descr   books__descr';
    }

    @media (min-width: $screen-lg) {
      width: 1160px;
      grid-template-columns: 160px 320px 560px;
      grid-column-gap: 60px;
      grid-row-gap: 0;
      grid-template-areas: 'books__pages  books__img     books__header'
                           'books__pages  books__img     books__info'
                           '.             books__descr   books__descr';
    }
  }

  &__header {
    grid-area: books__header;
    overflow: hidden;


    @media (min-width: $screen-md) {
      margin-bottom: 60px;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 5px;
    }

    p:first-child {
      margin-bottom: 15px;
      font-size: 14px;
      font-weight: 700;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
  }

  &__img {
    grid-area: books__img;

    img {
      width: 100%;
      height: 100%;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 25px;
      max-height: 455px;
    }
  }

  &__pages {
    display: none;

    @media (min-width: $screen-md) {
      margin-top: 20px;
      margin-bottom: 60px;
      padding: 16px 6px;
      display: flex;
      justify-content: space-around;
      grid-area: books__pages;
      border: 4px solid $gray-lighter;
    }

    @media (min-width: $screen-lg) {
      max-height: 480px;
      padding: 16px;
      margin-top: 0;
      margin-bottom: 0;
      flex-direction: column;
    }
  }

  &__pages-img {

    @media (min-width: $screen-md) {
      width: 77px;
      height: 90px;
    }

    @media (min-width: $screen-lg) {
      width: 120px;
      height: 139px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__pages-open-wrap {
    display: none;
    position: relative;
    width: 780px;
    z-index: 10;

    & .close-btn {
      position: absolute;
      right: 0;
      top: -5px;
      width: 10px;
      height: 10px;
      background-color: transparent;
      background-image: url('../../img/icon_close.png');
      background-repeat: no-repeat;
      border: 0;
    }
  }

  &__pages-open {
    width: 760px;
    height: 460px;
    border-radius: 5px;
    background-color: $main-color;

    & .books__pages-img {
      margin: 10px 215px 0;
      width: 330px;
      height: 440px;

      img {
        width: 330px;
        height: 440px;
      }
    }

    & .slick-prev {
      left: 40px;
    }

    & .slick-next {
      right: 40px;
    }
  }

  &__info {
    grid-area: books__info;
  }

  &__features {
    display: flex;

    li {
      margin-bottom: 30px;
    }
  }

  &__features-list {
    margin-right: 50px;
    font-size: 14px;
    color: #ababab;
  }

  &__features-descr {
    font-size: 14px;

    li:last-child {
      position: relative;
      display: flex;
      font-weight: 700;
    }
  }

  &__input-wrap {

    @media (min-width: $screen-md) {
      display: flex;
      align-items: baseline;
    }
  }

  &__input {
    margin-right: 10px;
    width: 80px;
    height: 50px;
    text-align: center;
    background-color: #ddd;
    border-color: transparent;
    border-radius: 3px;

    &:hover {
      background-color: #ececec;
    }

    &:focus {
      background-color: #ededed;
      border: 2px solid #c6c6c6;
    }
  }

  &__btn {
    margin-top: 30px;
    margin-bottom: 25px;
    padding: 15px 0;
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-color: transparent;
    background-color: #000;
    border-radius: 3px;

    &:hover {
      background-color: $third-color;
    }

    &:active {
      background-color: $btn-pressed;
    }

    @media (min-width: $screen-md) {
      margin-right: 40px;
      width: 200px;
      order: -1;
    }

    @media (min-width: $screen-lg) {
      margin-right: 20px;
      width: 260px;
    }
  }

  &__like {
    position: relative;
    display: flex;

    &:before {
      position: absolute;
      display: block;
      content: '';
      width: 15px;
      height: 15px;
      background-image: url('../../img/icon-like.svg');
      background-repeat: no-repeat;
      background-position: 0 2px;
    }

    span {
      font-size: 14px;
      padding-left: 20px;
      font-style: italic;
    }
  }

  &__descr {
    grid-area: books__descr;
  }

  &__descr-title {
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 24px;
  }

  &__descr-text {
    margin-bottom: 30px;

    &--hide {
      display: none;
      margin-top: 30px;
    }
  }

  &__descr-btn {
    position: relative;
    display: inline-flex;
    background-color: transparent;
    border: 0;
    padding: 0;
    padding-right: 25px;
    margin-top: 10px;
    color: $second-color;

    &:after {
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      content: '';
      width: 15px;
      height: 15px;
      background-image: url('../../img/arrow-down.svg');
      background-repeat: no-repeat;
      background-position-y: 4px;
    }
  }

  &__socials {
    margin-top: 40px;
  }

  &__socials-list {
    display: flex;
  }

  &__socials-item {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-right: 30px;

    &:hover {
      color: $third-color-dark;

      svg {
        fill: $third-color-dark;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    button {
      padding: 0;
      margin-right: 10px;
      background-color: transparent;
      border: 0;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
