.catalog {

  &__title {
	  display: none;
	}

  &__tabs-wrap {
		padding-top: 30px;
    padding-left: 30px;
		background-color: $gray-lighter;

    @media (min-width: $screen-md) {
      padding-left: 90px;
    }

    @media (min-width: $screen-lg) {
      padding-left: 160px;
    }
	}

  &__tabs {
	display: flex;
	}

  &__tab-item {
		margin-right: 30px;

		a:hover {
			padding-bottom: 20px;
			color: #1a1ff7;
			border-bottom: 3px solid #ef529f;
		}
	}

  &__list-wrap {
		padding-top: 40px;
    padding-left: 50px;
		margin: 0 auto;
		width: 100%;

    @media (min-width: $screen-md) {
      padding: 50px 75px 0 75px;
      width: 760px;
    }

    @media (min-width: $screen-lg) {
      padding: 50px 0 0 0;
      width: 1160px;
    }
	}

  &__list {
    display: grid;

    @media (min-width: $screen-md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 90px;
    }

    @media (min-width: $screen-lg) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 40px;
    }
  }
}
