.catalog {
	background-color: $gray-lightest;

	&__title {
		display: none;
	}

	&__tabs-wrap {
		background-color: $gray-lighter;
	}

	&__tabs {
		display: flex;
		justify-content: space-between;
	}
}