.delivery {
	background-color: $gray-lightest;

		&__title {
			font-weight: 700;
		}

		&__comment {
			color: $gray-darker;
		}
}

.advantage-card {

	&__descr {
		text-align: center;
	}
}


@media (min-width: $screen-md) {

	.delivery {

		&__row {
			display: flex;
		}
	}
}
