.delivery {
  position: relative;
  padding-top: 35px;
  margin: 0 10px;
  border: 8px solid $gray-lighter;

  @media (min-width: $screen-md) {
    margin: 0 40px;
  }

  @media (min-width: $screen-lg) {
    margin: 0 auto;
    width: 1220px;
  }

  &:after,
  &:before {
    position: absolute;
    display: block;
    content: '';
    height: 8px;
    background-color: $gray-lightest;
  }

  &:before {
    top: -8px;
    left: 52px;
    width: 150px;

    @media (min-width: $screen-md) {
      width: 170px;
    }

    @media (min-width: $screen-lg) {
      width: 400px;
    }
  }

  &:after {
    bottom: -8px;
    right: 52px;
    width: 110px;

    @media (min-width: $screen-md) {
      width: 280px;
    }

    @media (min-width: $screen-lg) {
      width: 740px;
    }
  }

  &__container {
    margin: 0 auto;
    padding: 0 12px;
    width: 100%;

    @media (min-width: $screen-md) {
      padding-left: 27px;
      padding-right: 0;
      width: 760px;
    }

    @media (min-width: $screen-lg) {
      padding: 0;
      width: 1160px;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
  }

  &__comment {
    margin-bottom: 60px;
    color: $gray-darker;
  }


  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: $screen-md) {
      justify-content: flex-start;
    }

    @media (min-width: $screen-lg) {
      justify-content: space-between;
    }
  }
}
