
.main-nav {
  position: relative;

  @media (min-width: $screen-md) {
    display: flex;
  }

  &__list {
    display: none;


    @media (min-width: $screen-md) {
      display: flex;
      margin-right: 20px;
      align-items: baseline;
    }

    @media (min-width: $screen-lg) {
      margin-right: 60px;
    }

    &--open {
      display: block;
      position: absolute;
      top: 45px;
      right: -20px;
      z-index: 1;
      padding: 20px 0 0 50px;
      width: 195px;
      height: 140px;
      background-color: rgba(244, 215, 230, 0.8);
    }
  }

  &__item {
    display: flex;
    margin-bottom: 10px;

    @media (min-width: $screen-md) {
        margin-bottom: 0;
      }

    &--tel {
      margin-left: -25px;

      a {
        color: $second-color;
        font-weight: 700;
      }

      svg {
        margin-right: 5px;
        fill: $second-color;
      }

      @media (min-width: $screen-md) {
        display: none;
      }
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 700;
    text-transform: lowercase;

    @media (min-width: $screen-md) {
      padding-right: 20px;
    }

    &--active {
      color: $third-color;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__icon--tel {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
    }
  }

  &__icon--basket {
    margin-right: 20px;
  }
}
