.new-books {
  background: linear-gradient(to bottom, $gray-lightest 40%, $third-color-light 40%);

  &__container {
    margin: 0 auto;
    padding-left: 30px;
    padding-top: 100px;
    width: 100%;

    @media (min-width: $screen-md) {
      padding-left: 40px;
      width: 760px;
    }

    @media (min-width: $screen-lg) {
      padding: 120px 0 46px;
      width: 1160px;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-size: $first-title-size;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__link {
    color: $second-color;

    &:hover {
      opacity: 0.6;
    }

    @media (min-width: $screen-md) {
      float: right;
    }
  }

  &__scroll {
    overflow-x: scroll;

    @media (min-width: $screen-lg) {
      width: 1160px;
      overflow-x: hidden;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    @media (min-width: $screen-md) {
      width: 1160px;
    }
  }

  & .product-card {
    margin-right: 40px;

    @media (min-width: $screen-md) {
      margin-right: 0;
    }

    &__img {
      width: 260px;
      height: 370px;
    }
  }
}
