.new-books {

    background: linear-gradient(to bottom, $gray-lightest 40%, #f4d4e4 40%);

	&__container {
		margin: 0 auto;
		width: 87.466%;
	}

	&__title {
		margin-bottom: 40px;
		font-size: $first-title-size;
	}

	&__link {
		color: #1a1ff7;
	}

	&__row {
		display: flex;
		margin-top: 40px;

		.product-card {
			padding-left: 0;
			margin-right: 40px;

			&:last-child {
				margin-right: 0;
			}

			&__img {
				width: 260px;
				height: 370px;
			}
		}
	}
}

@media (min-width: $screen-md) {

	.new-books {

		&__comtainer {
			width: 93.318%;
		}
	}
}

@media (min-width: $screen-lg) {

	.new-books {

		&__container {
		    width: 91.845%;
		}
	}
}
