.logo {
  display: inline-flex;
}

.work-time {
  display: none;
  color: $gray-light;
}

.main-nav__list {
  display: none;
}

.page-header {
  padding: 20px 0 20px 0;
  font-size: 14px;

  &__container {
    display: flex;
    margin: 0 auto;
    width: 87.466%;
    justify-content: space-between;
    align-items: baseline;
  }
}

.main-nav {

  &__link {
    font-weight: 700;
    text-transform: lowercase;
  }

  &__icon--tel {
    display: none;
  }

  &__icon--basket {
    margin-right: 20px;
  }
}

@media (min-width: $screen-md) {

  .page-header {

    &__container {
      justify-content: flex-start;
      width: 93.318%;
    }
  }

  .work-time {
    display: block;
    padding-left: 33px;
    flex-grow: 2;
  }

  .main-nav {
    display: flex;

    &__list {
      display: flex;
      margin-right: 20px;
    }

    &__link {
      padding-right: 20px;
    }

    &__icon--toggle {
      display: none;
    }

    &__icon--tel {
      display: block;
    }
  }
}

@media (min-width: $screen-lg) {

  .page-header {

    &__container {
      width: 91.845%;
    }
  }

  .main-nav {

    &__list {
      margin-right: 60px;
    }
  }
}
