.paginator {
  padding-bottom: 65px;

  @media (min-width: $screen-md) {
    padding-bottom: 80px;
  }

  @media (min-width: $screen-lg) {
    padding-bottom: 160px;
  }

  &__list {
    display: flex;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    width: 100%;
    justify-content: center;
    align-items: baseline;

    @media (min-width: $screen-md) {
      padding: 0 0 0 75px;
      width: 760px;
      justify-content: flex-start;
    }

    @media (min-width: $screen-lg) {
      padding: 0;
      width: 1160px;
    }
  }

  &__item {
    font-weight: 700;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
	}

  &__link {

    &:hover,
    &.active {
      display: inline-flex;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }

    &:hover {
      background-color: $third-color-light;
    }

    &.active {
      color: $third-color;
      background-color: $third-color-light;
    }
  }
}
