.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;

  &:hover {

    img {
      box-shadow: 0 10px 40px rgba(215, 35, 132, 0.3);
    }

    div {
      color: $third-color-darker;
    }
  }

  a {
    display: inline-block;

    &:nth-child(2) {
      order: -1;
    }
  }

  &__title {
    width: 220px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;

    @media (min-width: $screen-md) {
      width: 260px;
    }
  }

  &__img {
    margin-bottom: 15px;
    width: 220px;
    height: 315px;

    @media (min-width: $screen-md) {
      width: 260px;
      height: 370px;
    }
  }

  &__descr {
    margin-bottom: 30px;
    width: 260px;
    font-style: italic;
  }

  &__price {
    position: relative;
    display: flex;
    margin-top: auto;
    font-weight: 700;
  }
}

