.promo {
  padding: 40px 10px 30px 10px;

  @media (min-width: $screen-md) {
    padding: 55px 0 50px 0;
  }

  @media (min-width: $screen-lg) {
    padding: 50px 0 100px 0;
  }

  &__container {
    position: relative;
    margin: 0 auto;
    width: 100%;

    @media (min-width: $screen-md) {
      width: 760px;
    }

    @media (min-width: $screen-lg) {
      width: 1160px;
    }
  }
}
