.slick-arrow {
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding: 0;
  border: 0;
  width: 40px;
  height: 40px;
  font: 0/0 a;
  color: transparent;
  background-color: $third-color-light;
  border-radius: 50%;
  background-image: url('../../img/arrow.png');
  background-repeat: no-repeat;
  background-position: 17px 12px;

  @media (min-width: $screen-md) {
    top: 50%;
  }

  &:hover {
    background-color: $third-color-dark;
    background-image: url('../../img/arrow-white.png');
  }
}

.slick-prev {
  left: 100px;
  transform: rotate(180deg);

  @media (min-width: $screen-md) {
    left: 0;
  }
}

.slick-next {
  right: 100px;

  @media (min-width: $screen-md) {
    right: 0;
  }
}

.slick-disabled {
  background-color: $gray-lighter;
  background-image: url('../../img/arrow-white.png');
  pointer-events: none;
}
