.slider {
  padding-bottom: 60px;

  &__item {

    &:focus {
      outline: 0;
    }
  }

  @media (min-width: $screen-md) {
       padding-bottom: 0;
  }

  &__item-wrap {

    @media (min-width: $screen-lg) {
        display: flex;
        padding-left: 60px;
    }
  }

  &__col {

    @media (min-width: $screen-md) {
      margin: 0 auto;
      width: 560px;
    }

    @media (min-width: $screen-lg) {
      margin: 0 70px 0 0;
      width: 600px;
    }
  }

  &__name {
    padding-left: 20px;
    padding-right: 15px;
    margin-bottom: 30px;
    font-size: 14px;
    font-style: italic;

    @media (min-width: $screen-md) {
      padding: 0;
      width: 330px;
      font-size: 16px;
    }

    @media (min-width: $screen-lg) {
      margin-left: 40px;
    }
  }

  &__descr {
    display: flex;
    flex-direction: column;
    padding: 40px 0 30px 12px;
    height: 280px;
    border: 8px solid $gray-lighter;

    @media (min-width: $screen-md) {
      margin: 0;
      padding: 40px 45px 60px 35px;
      height: 310px;
    }

    @media (min-width: $screen-lg) {
      margin: 0;
      padding: 45px 0 50px 32px;
      height: 350px;
      width: 500px;
    }

    p {
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;

      @media (min-width: $screen-md) {
        font-size: 30px;
        line-height: 40px;
      }

      @media (min-width: $screen-lg) {
        width: 515px;
        font-size: 40px;
        line-height: 50px;
      }
    }
  }

  &__link {
    display: inline-block;
    margin-top: auto;
    font-size: 16px;
    color: $second-color;

    &:hover {
      opacity: 0.6;
    }
  }

  &__img {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
      margin-top: 20px;
      margin-right: 70px;
    }
  }
}
