.slider {
  padding-bottom: 70px;

  &__item-wrap {

    @media (min-width: $screen-lg) {
        display: flex;
        padding-left: 60px;
        padding-bottom: 0;
    }
  }

  &__col {

    @media (min-width: $screen-md) {
      margin: 0 auto;
      width: 560px;
    }

    @media (min-width: $screen-lg) {
      margin: 0 70px 0 0;
      width: 600px;
    }
  }

  &__name {
    padding-left: 20px;
    padding-right: 15px;
    margin-bottom: 50px;
    font-size: 14px;
    font-style: italic;

    @media (min-width: $screen-md) {
      padding: 0;
      width: 330px;
      font-size: 16px;
    }

    @media (min-width: $screen-lg) {
      margin-left: 40px;
    }
  }

  &__descr {
    padding: 45px 35px 25px 12px;
    border: 8px solid $gray-lighter;

    @media (min-width: $screen-md) {
      margin: 0;
      padding: 55px 80px 55px 45px;
    }

    @media (min-width: $screen-lg) {
      margin: 0;
      padding: 55px 0 55px 40px;
      width: 500px;
    }

    p {
      margin-bottom: 40px;
      font-size: 24px;
      font-weight: 700;

      @media (min-width: $screen-md) {
        font-size: 30px;
      }

      @media (min-width: $screen-lg) {
        width: 515px;
        font-size: 40px;
      }
    }
  }

  &__link {
    font-size: 16px;
    color: #1a1ff7;
  }

  &__img {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
      margin-top: 20px;
      margin-right: 70px;
    }
  }
}
