
$main-color:          #130f23;
$second-color:        #1a1ff7; // синий
$third-color:         #d7569c; // розовый
$third-color-light:   #f4d4e4; //светло-розовый
$third-color-dark:    #ef529f;
$third-color-darker:  #d72384;

$btn-hover:           $third-color;
$btn-pressed:         $third-color-darker;

$error-color:         #d90000; //красный для формы

$gray-lightest:       #f5f5f5; // body
$gray-lighter:        #e8e8e8; //рамки и табы
$gray-light:          #d0d0d0; // подчеркивания
$gray-dark:           #6d6f6e;
$gray-darker:         #333333;


$text-color:          #000;

$font-family:         Montserrat, Helvetica Neue, sans-serif;
$font-size:           16px;
$first-title-size:    30px;
$second-title-size:   24px;
$line-height:         70px;


$screen-sm:           320px;
$screen-md:           840px;
$screen-lg:           1280px;

